.card{
  width: 111%;
  color: rgb(71, 78, 78);
  
}
.card:hover{
  color: rgb(14, 85, 63);
  background-color: rgb(247, 247, 197);
  font-style: italic;
}
.card img{
  height: 300px;
}
.card-images:hover{
cursor: pointer;
color: lightcoral;
}

.btn-addToCart{
  background-color: goldenrod;
  width: 150px;
  height: 35px;
  border: 1px solid lightslategray;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 7px;
  padding-bottom: 5px;
}

.btn-addToCart:hover{
  color: rgb(248, 240, 230);
  background-color: rgb(155, 39, 18);
}
.awesome-icon{
  padding: 5px;
  margin: 15px;  
}
