.btn-addToCart{
  background-color: goldenrod;
  width: 150px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
}
.card{
  width: 110%;
  
}
.card:hover{
  color: rgb(33, 36, 35);
  background-color: rgb(221, 221, 218);
}
.card img{
  height: 300px;
}
.card-images:hover{
cursor: pointer;
transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn-addToCart{
  background-color: goldenrod;
  width: 150px;
  height: 35px;
  border: 1px solid lightslategray;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}
.awesome-icon{
  padding: 5px;
  margin: 15px;
  
}